
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {

    background-size: cover;
    font-family: 'Indie Flower', cursive;
}

.container {
    width: 500px;
    margin: 30px auto;
    background-image: url("note2.png");
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 3em;

}

#intro {
    font-size: 1.1em;
    color: #753;
    font-weight: bold;
}

#inputput {
    height: 2em;
    padding: 0 5px;
}

#inputput:hover {
    background: #110;
    color: #fff;
}

#Add {
  color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

#Add:hover {
    background: #011112;
    color: #fff;
}

ul {
  list-style-type: none;
    font-size: 29px
}



.done {
    text-decoration: line-through;
}

.delete {

background-color: #EB5757;
border: none;
border-radius: .3em;
font-weight: bold;
opacity: 0;
}

li:hover .delete {
    opacity: 1;
      color: white;
}
